.otherHeroData {
    display: flex;
    flex-wrap: wrap;
    // padding-left: 20px;
    width: 100%;
    
    &__row {
        width: 100%;
        display: flex;
        gap: 20px;

        &__rowSelect {
            width: 100%;
        }
        
        &:last-child {
          margin-bottom: 0;
        }

        @media (max-width: 700px) {
            flex-direction: column;
            margin-bottom: 24px;
        }
    }

    &__BoxBirthDateAt {
        width: 50%;
        display: flex;
        gap: 8px;


        &_selectDay {
            width: 114px;
        }

        &_selectMonth {
            width: 100%;
        }

        &_selectYear {
            width: 114px;
        }
    }

    &__boxDate {
        display: flex;
        width: 100%;
        gap: 20px;

        @media (max-width: 750px) {
            flex-direction: column;
        }
    }
}