.containerDateSendler {
    width: 100%;
    margin-bottom: 16px;
    
    &__box {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
    
    &__input {
        flex: 1 0 calc(33% - 40px);
        
        &:last-child{
          max-width: calc(33% - 10px);
          
          @media (max-width: 835px) {
              max-width: none;
          }
        }  
    }
}