@use '../../../../app/style/variables.scss' as *;
.fieldArchiveMaterials {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;

    &__boxPlusImg {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 144px;
        min-height: 144px;
        background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' rx='12' ry='12' style='fill: none; stroke: %23464444; stroke-width: 1; stroke-dasharray: 18 13'/></svg>");
        border-radius: $btn-border-radius;
        overflow: hidden;
        cursor: pointer;
        margin: 3px;
    }

    &__imgArr {
        width: 144px;
        height: 144px;
        border-radius: $btn-border-radius;
    }

    &__slider {
        padding: 16px 23px 0 0;
        display: flex;
        gap: 20px;
        overflow-x: auto;

        &::-webkit-scrollbar {
            height: 6px;
            padding: 5px;
          }
        
          &::-webkit-scrollbar-track {
            background: transparent;
          }
        
          &::-webkit-scrollbar-thumb {
            background: #D7D1B8;
            border-radius: 4px;
          }
    }
}

.BoxImg {
    position: relative;
    padding: 0 0 5px 0;

    &__boxSvg {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #FFF9E0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -15px;
        right: -15px;
        cursor: pointer;
    }

    &__CrossBalck {

    }
}