@use '../../app/style/variables.scss' as *;

.header {
    &__title {
        font-size: 64px;
        font-size: clamp(32px, 4vw, 64px);
        font-weight: 700;
    }

    &__description {
        line-height: 39px;
        line-height: clamp(16px, 2.5vw, 39px);;
        margin-top: 29px;
        font-size: 32px;
        font-size: clamp(16px, 2.5vw, 32px);
        word-break: break-word;
        color: $text-color-silver;

        @media (max-width: 100px) {
            
        }
    }

    &__word {
        font-size: clamp(16px, 2.5vw, 32px);
        font-weight: 700;
        color: $text-color-red;
    }
}