.boxSelect {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dateSelect {
    display: flex;
    gap: 8px;
    width: 100%;
}

.otherHeroData__BoxBirthDateAt_selectDay {
    width: 106px;
    flex: 0 0 auto;

    @media (max-width: 500px) {
        width: 87px;
    }
}

.otherHeroData__BoxBirthDateAt_selectMonth {
    flex: 1 1 auto;
    min-width: 0; /* Это важно для правильного сжатия контента */
}

.otherHeroData__BoxBirthDateAt_selectYear {
    width: 116px;
    flex: 0 0 auto;

    @media (max-width: 500px) {
        width: 100px;
    }
}