@use './fonts.scss';

$text-color-white: #FFFFFF;
$text-color-black: #2B2A29;
$text-color-silver: #464444;
$text-color-silver_white: #8B8785;
$text-color-red: #80011F;
$text-color-red_white: #E60004;

$white: #FFFFFF;
$black: #000000;

$btn-border-radius: 12px;

$font-open-regular: "RobotoSlab", sans-serif;